<h1><%= t('view.login') %></h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <div class="login">
  <%= f.label User.human_attribute_name("email") %>
  <%= f.email_field :email, id: 'email' %>
  </div>
  <div class="login">
  <%= f.label User.human_attribute_name("password") %>
  <%= f.password_field :password, id: 'password'%>
  </div>

  <%= f.submit t('view.login') %>
<% end %>
