<h1><%= t('view.task') + t('view.index') %></h1>

<table>
  <tr>
    <th><%= t('view.title') %></th>
    <th><%= t('view.content') %></th>
    <th><%= t('view.deadline') %></th>
    <th><%= t('view.priority') %></th>
    <th><%= t('view.status') %></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td class="task-index__title"><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.deadline %></td>
    <td><%= task.priority %></td>
    <td><%= task.status %></td>
    <td><%= link_to t('view.content'), task_path(task.id) %>
    <td><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
    <td><%= link_to t('view.delete'), task_path(task.id), method: :delete, data: { confirm:  t('view.delete_confirm') } %></td>
  <tr>
<% end %>
</table>

<%= link_to t('view.new'), new_task_path %>
