<h1><%= t('view.task') + t('view.index') %></h1>

<%= link_to t('view.sort_expired'), root_path(sort_expired: "true") %>
<%= link_to t('view.sort_priority'), root_path(sort_priority: "true") %>
<%= form_with(model:Task.new, method: :get, url: root_path, local: true) do |f| %>
  <%= f.label :title_search, t('view.title_search') %>
  <%= f.text_field :title_key ,id: 'title_key' %>

  <%= f.label :status_search, t('view.status_search') %>
  <%= f.select :status_key, Task.statuses.keys, {:include_blank => t('view.blank')},  id: 'status_key' %>

  <%= f.label :label_search, "ラベル検索" %>
  <%= f.select :label_key, Label.all.map { |label| [label.name, label.id] }, {:include_blank => t('view.blank')}, id: 'label_key' %>

  <%= f.hidden_field :search, value: 'true' %>

  <%= f.submit t('view.search') %>

<% end %>
<table>
  <tr>
    <th><%= t('view.task') %></th>
    <th><%= t('view.content') %></th>
    <th><%= t('view.deadline') %></th>
    <th><%= t('view.status') %></th>
    <th><%= t('view.priority') %></th>

  </tr>
<% @tasks.each do |task| %>
  <tr>
    <td class="task-index__title"><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.deadline %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><%= link_to t('view.content'), task_path(task.id) %>
    <td><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
    <td><%= link_to t('view.delete'), task_path(task.id), method: :delete, data: { confirm:  t('view.delete_confirm') } %></td>
  <tr>
<% end %>
</table>
<p><%= paginate @tasks %></p>

<%= link_to t('view.new') + t('view.create'), new_task_path %>
