<h1><%= t('view.sign up') %></h1>

<%= form_with(model: @user, local: true) do |f| %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, t('view.tell_error')) %> :</h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="user">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="user">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div class="user">
    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit t('view.account') + t('view.create') %>
<% end %>
